* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

ul li {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 10px;
}

ul li>i:hover {
    cursor: pointer;
}

ul li>p {
    display: inline;
}

ul li>i {
    float: left;
    color: red;
}
